.post-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-info {
    width: 30%;
    height: 40%;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.post-container img {
   height: auto;
   width: auto;
   max-height: 40%;
   max-width: 20%;
   display: block;
}

.corner {
    background-color: black;
    color: white;
    width: 30%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.post-info p {
    margin-right: 8%
}

.post-info h3 {
    margin-left: 8%;
}

.post-row {
    display: flex;
    justify-content: space-between;
}

.post-info button {
    margin-left: 8%;
    border: none;
    background-color: black;
    color: white;
    height: 30px;
    font-weight: bold;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}

.createOffer {
    background-color: white;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    color: black;
    /* padding-bottom: 5%; */
}

.createOffer h1 {
    opacity: 1;
    color: black;
}

.createOffer input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
}

.offer button {
    margin-bottom: 5%;
}

.display_modal {
    display: block;
}

.hide_modal {
    display: none;
}

.close {
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 3%;
}

.offer {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.post-index {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.post-index h1 {
    /* margin-left: 10%; */
    width: 100%;
    text-align: center;
}

.posts-container {
    /* margin-left: 10%; */
    width: 70%;
    margin-top: 1%;
}

.block {
    display: block;
    display: flex;
    align-items: center;
}

.block p {
    margin-left: 1%;
}

.block h3 {
    margin-left: 2%;
}

textarea{
    resize: none;
    overflow-y: scroll;
}

.offer-item-container{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid rgb(201, 200, 200);
}

.offer img {
    max-width: 250px;
    max-height: 200px;
    /* min-width: 250px;
    min-height: 200px; */
    margin-top: 3%;
    height: auto;
    width: auto;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    min-height: 250px;
}

.picture button {
    margin-bottom: 3%;
    background-color: black;
    border: none;
    height: 25px;
}

.picture a {
    color: white;
    font-weight: bold;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container img{
    width: 30%;
}

.offer-container {
    border-bottom: 1px solid gray;
}