.profile{
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

.profile-post-item{
    background-color: white;
    width: 90%;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.profile-post-item:hover{
    border: 2px solid black;
    box-shadow: 5px 5px lightgray;
}

.profile-post-item img{
    width: auto;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    max-height: 100px;
    max-width: 100px;
    margin: 10px;
}

.profile-settings-btn{
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 15%;
}

.profile-settings-btn:hover{
    background-color: red;
    color: white;
}

.user-options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30%;
}

.user-options button {
    margin-left: 2%;
}

a:hover{
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid black;
}

.angle {
    font-size: 30px;
}

.details {
    margin-left: 2%;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-background {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: black;
}

.profile-background h1 {
    /* text-shadow: black 0px 0px 10px; */
}

.profile-background h2 {
    /* text-shadow: black 0px 0px 10px; */
}

.user-options h3 {
    color: black;
    font-weight: bold;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    /* justify-content: center; */
    align-items: center;
}

.user-profile h1 {
    margin-bottom: 0px;
}

.user-options2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    /* margin-bottom: 1%; */
}

.profile-settings-btn2 {
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    font-weight: bold;
    width: 30%;
    /* border-radius: 5px; */
}

.profile-settings-btn2:hover {
    background-color: red;
}


