.profile{
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

.profile-post-lists{
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
}

.profile-post-item{
    padding-left: 2%;
    width: 200px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    border: 1px solid black;
    border-radius: 3px;
}

.profile-settings-btn{
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 20%;
}

.profile-settings-btn:hover{
    background-color: red;
    color: white;
}

.profile a{
    margin-top: 15px;
    width: 13%;
}

a:hover{
    cursor: pointer;
    color: blue;
}
