.sell-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sell-page form{
    /* margin-top: 10%; */
    width: 50%;
    /* height: 60%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px;
}

.sell-page input {
    width: 50%;
    height: 50px;
}

.sell-page select {
    width: 50%;
    height: 5%;
}

.sell-page button {
    width: 33%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 8%;
    border: none;
    border-radius: 5px;
}

.sell-page label {
    display: block;
}
.sell-page p {
    width: 50%;
}

.sell-buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    /* justify-content: center; */
    font-weight: bold;
    font-size: 1.6em;
}

select {
    margin-bottom: 2%;
}

.sell-buttons input{
    position: absolute;
}

.upload:hover {
    background-color: black;
    color: white;
}

.create:hover {
    background-color: #3ba45d;
    color: white;
}


.custom {
    margin-right: 20%;
}

input[type="file"] {
    width: 200px;
    height: 25px;
}

.sell-buttons label {
    width: 200px;
    height: 25px;
}


